<% provide(:title, '') %>
<div class="center hero-unit">
	<h1>Welcome to Encourage Bot</h1>
	<p>An app dedicated to helping people achieve their goals.</p>
	<%= link_to "Try it, free!", "#", class: "btn btn-large btn-primary" %>	
</div>

