<% provide(:title, '') %>
<div class="center hero-unit">
	<h1>Welcome to Encourage Bot</h1>
	<h2>An app dedicated to helping people achieve their goals.</h2>
	<%= link_to "Try it, free!", signup_path, class: "btn btn-large btn-primary" %>	
</div>

