<footer class="footer">
	<small>
		&copy; <a href="http://www.linkedin.com/pub/seth-hayward/3/bb/852" target="_blank">seth hayward</a> 2012 
	</small>		
	<nav>
		<ul>
			<li><%= link_to "About", 		about_path %></li>
			<li><%= link_to "Contact", 	contact_path %></li>
		</ul>
	</nav>
</footer>